[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
flask = "*"
pymysql = "*"
bcrypt = "*"
cryptography = "*"
python-dotenv = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.8"
